@use "../components/header";
@use "../components/footer";
@use "../pages/index";
@use "../pages/become-pilot";
@use "../pages/admissions";
@use "../pages/course-information";
@use "../pages/training-facilities";
@use "../pages/campus";
@use "../pages/faq-about";
@use "../pages/applications";
@use "../pages/registration";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

p {
  margin-bottom: 0;
}

svg {
  width: 20px;
}

main {
  background-image: url("../images/bg-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.whats_app_icon {
  position: fixed;
  bottom: 30px;
  right: 19px;
  height: 70px;
  background: rgba(137, 189, 73, 0.25);
  border: none;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 100%;
  color: #fff;
  padding: 0;
  padding-right: 10px;
  display: flex;
  align-items: center;
  z-index: 99;
  font-size: 0;
  font-weight: bold;
  color: #fff !important;
  transition: all 0.3s;

  .icon {
    height: 50px;
    width: 50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #d11317;
    border-radius: 50%;
    margin: 10px 0 10px 10px;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;

    &::before {
      content: "";
      position: fixed;
      display: block;
      height: 70px;
      width: 70px;
      background: rgba(162, 163, 243, 0.4);
      z-index: -1;
      border-radius: 50%;
      transform: scale(1);
      animation: 3s ease-in-out infinite pulse;
    }

    i {
      color: white;
      font-size: 30px;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}
