$primary-color: #d11317;
$dark-color: #051723;

// start footer
footer {
  padding: 80px 0 20px;
  background-color: $dark-color;
  color: white;

  .footer_widget {
    .logo {
      margin-bottom: 10px;

      img {
        width: 80px;
      }
    }

    .desc {
      font-size: 18px;
      line-height: 1.7;
    }

    a {
      padding: 8px 20px;
      background: $primary-color;
      border: none;
      color: white !important;
      display: flex;
      align-items: center;
      gap: 7px;
      border-radius: 5px;
      transition: all 0.3s ease;
      width: fit-content;
      margin-top: 30px;
      transition: all 0.4s;

      &:hover {
        transform: scale(0.9);
      }
    }
  }

  h4 {
    font-size: 22px;
    font-weight: 700;
  }

  .items {
    .item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      font-size: 17px;
    }
  }

  .contact_details {
    .detail {
      display: flex;
      align-items: center;
      gap: 6px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      p {
        font-weight: 600;
        margin-bottom: 0;
      }
    }
  }

  .social_media {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;

    a {
      i {
        font-size: 20px;
      }
    }
  }

  .copy_right {
    text-align: center;
    padding-top: 20px;
    margin-top: 40px;
    border-top: 1px solid rgb(68 68 89);
  }
}

@media (max-width: 768px) {
  footer {
    text-align: center;
    padding: 40px 15px;

    .footer_widget {
      margin-bottom: 20px;

      .logo {
        margin-bottom: 5px;
        img {
          width: 50px;
        }
      }

      .desc {
        font-size: 14px;
        margin-bottom: 5px;
      }

      a {
        margin: auto;
        padding: 4px 15px;
        font-size: 14px;
      }
    }

    h4 {
      font-size: 18px;
    }

    .items {
      margin-bottom: 20px;

      .item {
        font-size: 15px;
      }
    }

    .contact_details {
      .detail {
        justify-content: center;
        font-size: 15px;
      }
    }

    .social_media {
      justify-content: center;

      a {
        i {
          font-size: 14px;
        }
      }
    }
  }
}
// end footer
